html {
    /* scroll-behavior: smooth; */
    scroll-behavior: smooth;
}

/* resentando o body */
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
}

body.display {
    overflow: hidden;
}

header {
    width: 100%;
    margin: 0 auto;
    margin-top: 10px;

}

.divider {

    height: 5px;
    width: 100%;
    background-color: #2176FF;
    margin-top: 80px;

}

.container {
    max-width: 1140px;
    width: 100%;
    /* border-bottom: 1px solid #2176FF; */
}

.informations ul {
    margin: 0;
    padding: 0;
}

.informations {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.informations .details {
    width: 100%;

}

.informations .details ul {
    display: flex;
    flex: 2;
    justify-content: space-between;
}


.informations .details ul li i {
    margin-right: 10px;
    color: #2176FF;


}

.informations .social_medias {
    padding: 0 0 0 80px;

}

.informations .social_medias ul {
    display: flex;
    justify-content: space-between;

}

.informations .social_medias ul li {
    margin-right: 10px;
    color: #2176FF;

}

nav.nav_bar {
    width: 100%;
    height: 100px;
    /* background-color: red; */
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav.nav_bar .logo {
    flex: 1;
}

nav.nav_bar .links {
    flex: 2;
    padding: 0 10px;
}

nav.nav_bar .links ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav.nav_bar .links ul a {
    color: black;
    position: relative;
    text-decoration: none;

}

nav.nav_bar .links ul a::after {
    content: '';
    width: 0;
    transition: width 1s;
}


nav.nav_bar .links ul li a:hover::after {
    content: '';
    position: absolute;
    bottom: -20px;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #2176FF;
}

nav.nav_bar .links ul li a:hover {
    margin-top: 100px;
}

.btn {
    color: white;
    background-color: #2176FF;
}

.btn:hover {
    color: #2176FF;
    background-color: white;
    border: 1px solid #2176FF;

}

nav.nav_bar .links ul .btn {
    color: white;
    background-color: #2176FF;
    border: 1px solid #2176FF;
    break-after: avoid;
}

nav.nav_bar .links ul .btn:hover {
    color: #2176FF;
    background-color: white;
    border: 1px solid #2176FF;

}


main .banner {
    background-image: url('../img/banner.jpg');
    background-size: cover;
    background-position: center;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 600px;
    padding: 100px 0;
    display: flex;
    color: white;
    justify-content: space-around;
    border-bottom: 6px solid #2176FF;
}

main .banner .apresentation {
    background-color: #2176ffc5;
    padding: 2px 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 1;
}

main .banner .apresentation::after {
    content: '';
    position: absolute;
    background-color: #2176ff;
    width: 100%;
    height: 100%;
    z-index: -1;
    margin-left: 50px;
    margin-bottom: 50px;
}

main .banner .apresentation p, main .banner .apresentation h1 {
    width: 400px;
    /* background-color: red; */

}

main .banner .apresentation .button {
    width: 100%;
    display: flex;
    justify-content: start;
}


a.button_white {
    color: #2176fff1;
    background-color: white;
    border-radius: 15px;
    padding: 10px;
    text-decoration: none;

}

.button_white:hover, .button_white_small:hover {
    color: white;
    background-color: #2176fff1;
    border: 1px solid white;

}


/* first_title */

section .title .first_title {
    width: 100%;
    margin-top: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
}

section .title .first_description {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
}

section .first_title i:nth-child(1) {
    color: #2176FF;
    margin-right: 20px;

}

section .first_title i:nth-child(3) {
    transform: rotate(180deg);
    color: #2176FF;
    margin-left: 20px;

}

.itens_card {
    display: flex;
    margin-top: 80px;
    justify-content: space-around;
    flex-wrap: wrap;
}

.itens_card .card_item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-width: 102px;
}

.itens_card .card_item .card_description {
    max-width: 200px;
    text-align: center;
}


.help {
    display: flex;
    padding: 30px 0;
    justify-content: space-between;
    align-items: center;
}

.help .help_text .help_title {
    width: 300px;
    font-size: 30px;
}

.help .help_text .help_description {
    width: 300px;
}

.help .help_text .help_button {
    margin-top: 50px;
}


/* all services */


section.all_services {
    width: 100%;
    height: 150px;
    background-color: #2176FF;
    margin-top: 80px;
    color: white;

}

section.all_services .container {
    display: flex;
    height: 100%;
    justify-content: space-between;
    align-items: center;

}

a.button_white_small {
    color: #2176FF;
    padding: 10px;
    font-size: 18px;
    text-decoration: none;
    background-color: white;
}

input::placeholder {
    padding: 0 10px;
}


section .contact_us {

    display: flex;

    justify-content: space-around;

    padding: 80px 0;
}

section .contact_us .contact_form {
    width: 50%;
    background-color: #2176FF;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 4px solid rgb(255, 255, 255);
    outline: 10px solid #2176FF;
}

section .contact_us .contact_form form {
    padding: 20px;
}

section .contact_us .contact_form .form_titles {

    text-align: center;
    color: white;
    margin-bottom: 20px;
}

section .contact_us .contact_form .form_divider {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

section .contact_us .contact_form .form_divider a {
    padding: 5px;
    margin-left: 10px;
    font-size: larger;
    font-weight: 500;
}


section .contact_us .contact_form .form_divider input, section .contact_us .contact_form .form_divider textarea {
    width: 100%;
    padding: 5px;
    margin-left: 10px;
    outline: none;
    border: none;
}

/* section .contact_us .contact_form .form_divider input::selection{
    opacity: 0.1;
} */




/* depoiments */
.depoiments {
    margin-top: 40px;
}

.depoiments .owl-carousel .item .client_depoiment {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* background-color: red; */
    padding: 40px;
    border-radius: 20px;
    border: 1px solid #2176ff4b;


}

.depoiments .owl-carousel .item .client_depoiment .depoiment_client img {
    width: 100px;
    height: 100px;
    border-radius: 50%;


}

.depoiments .owl-carousel .item .client_depoiment .depoiment_client .client_img {
    width: 100px;
    height: 100px;
    position: relative;
    margin: 40px 0;
}


.depoiments .owl-carousel .item .client_depoiment .depoiment_client .client_img::before {
    content: "❛❛";
    text-align: center;
    background-color: #2176FF;
    color: white;
    position: absolute;
    font-size: 30px;
    width: 35px;
    height: 35px;
    bottom: 5px;
    right: -10px;
    border-radius: 50%;


}

.client_information {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.client_information .client_divider {
    width: 100px;
    height: 3px;
    background-color: #2176FF;
    margin: 20px 0;
}

.client_information .client_name {
    color: #000000;
    font-size: 18px;
    font-weight: 500;
}

/* our .specialist */
.our_specialists {
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: space-between;
    max-width: 1140px;
    flex-wrap: wrap;
}

.our_specialists .specialist_item {
    width: 218px;
    height: 310px;
    background: rgba(196, 196, 196, 0.2);
    border-radius: 14px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.our_specialists .specialist_item .specialist {
    width: 188px;
    height: 226px;
    background: rgba(187, 180, 180, 0.21);
    border-radius: 21px;
    margin-top: 20px;
    text-align: center;
}

.our_specialists .specialist_item .specialist_text .name {
    font-family: Ruda;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 25px;
    text-align: center;
    color: #2176FF;
    margin-top: 5px;
}

.our_specialists .specialist_item .specialist_text .speciality {
    font-family: Ruda;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 15px;
    text-align: center;
    color: rgba(0, 0, 0, 0.44);
    margin-top: 5px;
}


/* partners */

.partners {
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 80px;
}

.partners img {
    width: 100px;
}

footer {

    background-color: #363636;

    /* width: 100%; */

    color: white;

    display: flex;

    flex-direction: column;

    justify-content: c;

    /* padding: 30px 0; */
}

footer .footer_upside {
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
    margin-top: 40px;
}

footer .footer_upside i {
    margin-right: 10px;
}

footer .footer_upside .footer_links {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

footer .footer_upside .footer_links a {
    color: #2176FF;
    text-decoration: none;

}

footer .footer_upside .footer_social_medias li {
    margin-bottom: 10px;
}


footer .footer_upside .footer_links .link .link_section a {
    font-size: 15px;

}

footer .footer_social_medias {
    display: flex;
    flex-direction: column;
    /* align-self: flex-start; */
}

footer .footer_social_medias .social_links {
    display: flex;
    flex-direction: column;
    list-style: none;


}

.icon_blue {
    color: #2176FF;
}

.link_Title, .social_title {
    margin-bottom: 20px;
    font-size: 13px;
}


.footer_downside {
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer_downside .logo {
    font-size: 30px;
}

.footer_downside .politic {
    display: flex;
    align-items: center;
}

.footer_downside .politic a {
    margin-left: 30px;
    color: white;
    text-decoration: none;
    font-size: 10px;
}


/* go_top */
#go_top {
    display: none;
    position: fixed;
    right: 10PX;
    bottom: 50px;
    background-color: #2176FF;
    border-radius: 20px;
    border: 1px solid white;
    width: 30px;
    height: 30px;
    align-items: center;
    justify-content: center;
    color: white;
    opacity: 0;
    transition: opacity 1.2s;
    cursor: pointer;

}

#go_top.off {
    opacity: 1;
    display: flex;


}

link .links {
    display: flex;
}


/* mapa footer  */
.map {
    margin-top: 20px;
    display: flex;
    width: 100%;
    justify-content: center;
}

footer .footer_upside .footer_links .link .link_section {
    display: flex;
    flex-direction: column;
}

.footer_upside .footer_links .link p {
    font-size: 10px;
    margin-top: 20px;
    width: 200px;
    justify-content: center;
}


/* Responsividade  */
.menuB {
    width: 100%;
    display: flex;
    flex: 2;
    padding: 0 10px;
    list-style: none;
    font-size: 20px;
    cursor: pointer;
    justify-content: end;
    position: absolute;
    top: 40px;
    right: 10px;
    display: none;
}

.logo_open {
    display: none;
}

.header_open {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;

}



@media screen and (max-width:973px) {
    .informations {
        display: none;
    }

    .help.container .help_text {
        margin: 20px;
    }

    .depoiments {
        padding: 10px;
    }

    .depoiments .owl-carousel .item .client_depoiment {
        padding: 10px;
    }

    .our_specialists {
        gap: 10px;
        /* justify-content: space-around; */
    }

    .specialist_item:nth-child(7), .specialist_item:nth-child(8) {
        display: none;

    }


}

@media screen and (max-width:883px) {

    footer .footer_upside .footer_links .link {
        font-size: 10px;
    }

    a.button_white_small {
        font-size: 15px;
    }

    .partners img {
        width: 80px;
    }

    .itens_card .card_item .card_image img {
        width: 69px;
    }

    .itens_card .card_item {
        width: 100px;
        text-align: center;
    }

    .itens_card .card_item .card_title h6 {
        font-size: 12px;
    }

    .itens_card .card_item .card_description p {
        font-size: 10px;
    }



}

@media screen and (max-width:780px) {
    .apresentation h1 {
        font-size: 25px;
    }

    .apresentation p {
        font-size: 15px;
    }

    .apresentation::after {
        display: none;
    }

    .banner {
        background-position: center;
    }

    nav.nav_bar .links ul {
        display: none;
    }

    .menuB {
        display: flex;
    }
}


@media screen and (max-width:720px) {
    section.all_services .container {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        padding: 20px 0;
    }

    .partners {
        gap: 30px;

    }

    .our_specialists {
        justify-content: space-around;
    }

    .help.container .help_img img {
        width: 300px;
    }

    .contact_img img {
        display: none;
    }

    section .contact_us {
        display: flex;
        justify-content: center;
    }

    section .contact_us .contact_form {
        width: 100%;
    }
}

@media screen and (max-width:645px) {

    .help.container .help_img img {
        display: none;
    }

    .help {
        display: flex;
        justify-content: center;
    }

    .footer_upside .footer_links .link:nth-child(1) {
        display: none;
    }

    .partners img {
        width: 60px;
    }
}

@media screen and (max-width:430px) {
    .footer_upside .footer_links .link:nth-child(1) {
        display: flex;
        flex-direction: column;
    }

    .footer_upside .footer_links {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 40px;
    }

    main .banner {
        height: 100%;
        background-position: right;
        height: 400px;
        padding: 0px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    main .banner .apresentation {
        font-size: 10px;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    main .banner .apresentation h1 {
        font-size: 2rem;
        width: 100%;

    }

    main .banner .apresentation p {
        font-size: 10px;
        width: 100%;

    }

    .itens_card .card_item {
        min-width: 160px;
    }

    section.all_services {
        width: 100%;
        padding: 120px 0;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    section.all_services .container {
        display: flex;
        align-items: center;
        width: 90%;
        justify-content: center;
    }

    .footer_upside .footer_links .link .links {
        display: flex;
        flex-wrap: wrap;

    }
    .footer_upside .footer_links .link .links i{
       padding: 0 10px;

    }

    .footer_upside .footer_links .link p {
        font-size: 10px;
        margin-top: 20px;
        width: 100%;
        justify-content: center;
    }

    .partners img {
        width: 40px;
    }
    #logo img{
        width: 120px;
    }


}




/* Responsividade 2 */
nav.nav_bar .links .link_open {
    display: flex;
    flex-direction: column;
    gap: 30px;


}